.option {
  padding: 16px;
  border: 2px solid #646f90;
  max-width: 376px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.option__select {
  &:hover {
    border: 2px solid #939bb4;
    cursor: pointer;
  }
}

.option__not__selected {
  border: 2px solid #2c344e;
  color: #6b7288;
}

.option__correct {
  background-color: #19804f;
  border: 2px solid #c8ecdb;
}

.option__incorrect {
  border: 2px solid #c34632;
}

.option__number {
  width: 24px;
  height: 24px;
  background-color: #303545;
  margin-right: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

@media (max-width: 620px) {
  .option {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
  }

  .option__number {
    display: none;
  }
}