.container {
  margin-bottom: 20px;
  width: 100%;
  padding: 20px 0px;
  border-radius: 5px;
  background-color: #2e3856;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.index {
  font-weight: 700;
}

.header__container {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}

.header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  font-size: 20px;

  button {
    background-color: #2e3856;
    color: white;
    font-size: 20px;
    margin-left: 30px;
  
    &:hover {
      color: yellow;
    }
  }

  span {
    &:hover {
      color: yellow;
    }
  }

  cursor: all-scroll;
}

.index {
  font-size: 20px;
}

.add__image {
  border: 2px dashed white;
  width: 84px;
  height: 60px;
  padding: 10px;
  margin-left: 25px;

  input {
    display: none;
  }

  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;

    span {
      width: 64px;
      word-wrap: break-word;
      text-align: center;
    }

    .icon__img {
      font-size: 20px;
    }

    &:hover{
      cursor: pointer;
  
      .icon__img {
        color: yellow;
      }
    }
  }

  &:hover{
    cursor: pointer;

    .icon__img {
      color: yellow;
    }
  }
}

@media (min-width: 1200px) {
  .inputs {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 20px;
  }

  .input__value {
    width: 50%;
    margin-right: 20px;

    input {
      background-color: #2e3856;
      font-size: 20px;
      color: white;
      width: 100%;
      height: 25px;
      border-bottom: 2px solid white;
      margin-bottom: 10px;

      &:focus {
        border-bottom: 3px solid yellow;
      }
    }

    p {
      color: white;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
  
  .input__translate {
    width: 50%;
    margin-left: 20px;

    input {
      background-color: #2e3856;
      font-size: 20px;
      color: white;
      width: 100%;
      height: 25px;
      border-bottom: 2px solid white;
      margin-bottom: 10px;

      &:focus {
        border-bottom: 3px solid yellow;
      }
    }

    p {
      color: white;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .inputs {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 20px;
  }

  .input__value {
    width: 50%;
    margin-right: 20px;

    input {
      background-color: #2e3856;
      font-size: 20px;
      color: white;
      width: 100%;
      height: 25px;
      border-bottom: 2px solid white;
      margin-bottom: 10px;

      &:focus {
        border-bottom: 3px solid yellow;
      }
    }

    p {
      color: white;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
  
  .input__translate {
    width: 50%;
    margin-left: 20px;

    input {
      background-color: #2e3856;
      font-size: 20px;
      color: white;
      width: 100%;
      height: 25px;
      border-bottom: 2px solid white;
      margin-bottom: 10px;

      &:focus {
        border-bottom: 3px solid yellow;
      }
    }

    p {
      color: white;
      font-size: 14px;
      text-transform: uppercase;
    }

    &:focus {
      border-bottom: 3px solid yellow;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .inputs {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 20px;
  }

  .input__value {
    width: 50%;
    margin-right: 20px;

    input {
      background-color: #2e3856;
      font-size: 20px;
      color: white;
      width: 100%;
      height: 25px;
      border-bottom: 2px solid white;
      margin-bottom: 10px;

      &:focus {
        border-bottom: 3px solid yellow;
      }
    }

    p {
      color: white;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
  
  .input__translate {
    width: 50%;
    margin-left: 20px;

    input {
      background-color: #2e3856;
      font-size: 20px;
      color: white;
      width: 100%;
      height: 25px;
      border-bottom: 2px solid white;
      margin-bottom: 10px;

      &:focus {
        border-bottom: 3px solid yellow;
      }
    }

    p {
      color: white;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 767px) {
  .inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px 20px;
  }

  .input__value {
    width: 100%;

    input {
      background-color: #2e3856;
      font-size: 20px;
      color: white;
      width: 100%;
      height: 25px;
      border-bottom: 2px solid white;
      margin-bottom: 10px;

      &:focus {
        border-bottom: 3px solid yellow;
      }
    }

    p {
      color: white;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
  
  .input__translate {
    width: 100%;

    input {
      background-color: #2e3856;
      font-size: 20px;
      color: white;
      width: 100%;
      height: 25px;
      border-bottom: 2px solid white;
      margin-bottom: 10px;

      &:focus {
        border-bottom: 3px solid yellow;
      }
    }

    p {
      color: white;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  .add__image {
    display: none;
  }
}

@media (max-width: 480px) {
  .inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px 20px;
  }

  .input__value {
    width: 100%;

    input {
      background-color: #2e3856;
      font-size: 20px;
      color: white;
      width: 100%;
      height: 25px;
      border-bottom: 2px solid white;
      margin-bottom: 10px;

      &:focus {
        border-bottom: 3px solid yellow;
      }
    }

    p {
      color: white;
      font-size: 14px;
      text-transform: uppercase;
    }

    .add__image {
      display: none;
    }
  }
  
  .input__translate {
    width: 100%;

    input {
      background-color: #2e3856;
      font-size: 20px;
      color: white;
      width: 100%;
      height: 25px;
      border-bottom: 2px solid white;
      margin-bottom: 10px;

      &:focus {
        border-bottom: 3px solid yellow;
      }
    }

    p {
      color: white;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  .add__image {
    display: none;
  }
}

@media (max-width: 320px) {
  .inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px 20px;
  }

  .input__value {
    width: 100%;

    input {
      background-color: #2e3856;
      font-size: 20px;
      color: white;
      width: 100%;
      height: 25px;
      border-bottom: 2px solid white;
      margin-bottom: 10px;

      &:focus {
        border-bottom: 3px solid yellow;
      }
    }

    p {
      color: white;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
  
  .input__translate {
    width: 100%;

    input {
      background-color: #2e3856;
      font-size: 20px;
      color: white;
      width: 100%;
      height: 25px;
      border-bottom: 2px solid white;
      margin-bottom: 10px;

      &:focus {
        border-bottom: 3px solid yellow;
      }
    }

    p {
      color: white;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  .add__image {
    display: none;
  }
}