.container {
  margin-bottom: 20px;
  width: 100%;
}

.container__card {
  padding: 20px 0px;
  border-radius: 5px;
  background-color: #2e3856;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.index {
  font-weight: 700;
}

.header__container {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}

.header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  font-size: 20px;
  cursor: all-scroll;
}
.header button {
  background-color: #2e3856;
  color: white;
  font-size: 20px;
  margin-left: 30px;
}
.header button:hover {
  color: yellow;
}
.header span:hover {
  color: yellow;
}

.index {
  font-size: 20px;
}

.add__image {
  width: 84px;
  height: 60px;
  margin-left: 25px;
  border-radius: 5px;
  border: 2px dashed white;
  padding: 10px;
}
.add__image input {
  display: none;
}
.add__image label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
}
.add__image label span {
  width: 64px;
  word-wrap: break-word;
  text-align: center;
}
.add__image label .icon__img {
  font-size: 20px;
}
.add__image label:hover {
  cursor: pointer;
}
.add__image label:hover .icon__img {
  color: yellow;
}
.add__image:hover {
  cursor: pointer;
}
.add__image:hover .icon__img {
  color: yellow;
}

.input__img {
  display: none;
}

.image__container {
  position: relative;
  width: 84px;
  height: 60px;
  margin-left: 25px;
  border-radius: 5px;
  background-color: aqua;
}

.delete__img {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 0;
  color: white;
  background-color: #303545;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
}
.delete__img:hover {
  background-color: yellow;
  color: black;
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.inputs {
  display: flex;
  align-items: flex-end;
  padding: 0px 20px;
}

.input__value input {
  background-color: #2e3856;
  font-size: 20px;
  color: white;
  width: 100%;
  height: 25px;
  border-bottom: 2px solid white;
  margin-bottom: 10px;
}
.input__value input:focus {
  border-bottom: 3px solid yellow;
}
.input__value p {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}

.input__translate input {
  background-color: #2e3856;
  font-size: 20px;
  color: white;
  width: 100%;
  height: 25px;
  border-bottom: 2px solid white;
  margin-bottom: 10px;
}
.input__translate input:focus {
  border-bottom: 3px solid yellow;
}
.input__translate p {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .inputs {
    justify-content: space-between;
  }
  .input__value {
    width: 50%;
    margin-right: 20px;
  }
  .input__translate {
    width: 50%;
    margin-left: 20px;
  }
}
@media (max-width: 767px) {
  .inputs {
    flex-direction: column;
  }
  .input__value {
    width: 100%;
  }
  .input__translate {
    width: 100%;
  }
  .add__image {
    display: none;
  }
}
.UploadImages {
  background-color: #13141b;
  padding: 20px 24px;
}

.ImageCarousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.UploadImages__wrapp {
  display: flex;
  justify-content: space-around;
}

.image__link {
  width: 200px;
  height: 150px;
}

.UIButton {
  background-color: #3ccfcf;
  color: #282E3E;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 24px;
  margin-left: 20px;
}

.UIButton__wrapper {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #3ccfcf;
}

.text__input {
  width: 250px;
  margin: 10px 0px;
  background-color: #13141b;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  font-size: 18px;
  color: #c3c7d5;
}
.text__input:focus {
  border-bottom: 3px solid yellow;
}/*# sourceMappingURL=CardForm.module.css.map */