.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  background-color: #0A092D;
  height: 15vh;
  width: 100%;
  color: white;
  font-size: 20px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  color: white;
  padding: 10px 15px;
  background-color: #4255ff;
  border-radius: 10px;
  font-weight: 700;

  &:hover {
    background-color: #4d5dee;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
  }
}