.card {
  width: 100%;
  background-color: #2e3856;
  border-radius: 5px;
  margin: 20px 0px;
  padding: 24px 32px;
  position: relative;
}

.index {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 16px;
  color: #646F90;
}

.header div:first-child {
  color: #646F90;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 24px;
}
.header div:last-child {
  color: #EDEFF4;
  font-size: 18px;
}

.content {
  width: 100%;
  border-top: 2px solid #646f90;
  margin: 20px 0px;
}

.single__card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.single__card__answer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #939bb4;
  font-size: 16px;
  width: 100%;
}
.single__card__answer button {
  background-color: #13141B;
  padding: 0px;
  color: #939bb4;
  font-weight: 100;
  font-size: 16px;
}

.single__card__body {
  width: 250px;
  margin-right: 20px;
}

.matching {
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
  margin-right: 20px;
  padding: 16px;
  background-color: #13141B;
  border: 2px dashed #646f90;
  border-radius: 5px;
}
.matching:hover {
  cursor: pointer;
}

.card__selected {
  border: 2px solid #646f90;
  border-radius: 10px;
}

.matching__actual {
  width: 100%;
  border: 2px solid #4257b2;
  background-color: #282e3e;
  color: #4257b2;
}
.matching__actual button {
  background-color: #282e3e;
}

.translate {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.translate div {
  color: #F6F7FB;
  font-size: 20px;
}

.card__img {
  width: 104px;
  height: 104px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  padding-top: 32px;
  border-top: 2px solid #646f90;
}

.value {
  background-color: #2e3856;
  border: 1px solid #939bb4;
  padding: 8px 16px;
  border-radius: 5px;
  margin-right: 14px;
  color: #939bb4;
  font-size: 16px;
}
.value:hover {
  border: 1px solid #c5cde2;
  color: #c5cde2;
}

.selected__value {
  display: inline-block;
  background-color: #2e3856;
  margin-right: 14px;
  padding: 8px 16px;
  color: #606985;
  font-size: 16px;
}
.selected__value:hover {
  cursor: auto;
}

.result__card {
  border-bottom: 1px solid #c5cde2;
  padding: 48px 0px;
  width: 100%;
}
.result__card .translate {
  width: 100%;
}

.user__answer__wrapper p {
  color: #c34632;
  margin: 24px 0px 16px;
  font-weight: bold;
  font-size: 16px;
}

.user__answer__body {
  display: flex;
}
.user__answer__body .incorrect__user__answer {
  margin-right: 20px;
}

.correct__user__answer__wrapper {
  width: 100%;
}
.correct__user__answer__wrapper p {
  color: #19804f;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 16px;
}

.correct__user__answer {
  width: 100%;
  height: 60px;
  background-color: #19804f;
  color: #d9dde8;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 2px solid #aae3c8;
  width: 100%;
}

.incorrect__user__answer__wrapper {
  margin-bottom: 32px;
  width: 100%;
}

.incorrect__user__answer {
  width: 100%;
  height: 60px;
  background-color: #2e3856;
  color: #d9dde8;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 2px solid #c34632;
  margin-right: 20px;
  width: 100%;
}

.space__empty {
  width: 32px;
}

@media (max-width: 620px) {
  .single__card {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .single__card__body {
    width: 100%;
    margin-right: 0px;
  }
  .translate {
    width: 100%;
    margin-bottom: 20px;
  }
  .matching {
    width: 100%;
  }
  .user__answer__body {
    display: flex;
    flex-direction: column;
  }
  .incorrect__user__answer {
    margin-right: 0px;
  }
  .correct__user__answer {
    margin-left: 0px;
  }
}/*# sourceMappingURL=CardWordsSelection.module.css.map */