.card {
  width: 90%;
  background-color: #2e3856;
  border-radius: 15px;
  height: 80vh;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  color: #f6f7fb;
}

.card__header {
  width: 100%;
  height: 10%;
  display: flex;
}

.card__header__left {
  width: 50%;
  height: 100%;
}

.card__header__right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: right;
}

.card__footer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.card__footer__left {
  width: 50%;
  height: 100%;
  margin-right: 12.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #646f90;
  border-radius: 10px;
}

.card__footer__left:hover {
  border: 2px solid #939bb4;
}

.card__footer__right {
  width: 50%;
  margin-left: 12.5px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #646f90;
  border-radius: 10px;
}

.card__footer__right:hover {
  border: 2px solid #939bb4;
}

@media (min-width: 1200px) {
  .card__content {
    width: 100%;
    height: 80%;
    display: flex;
  }
  .card__content__left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: white;
  }
  .card__content__right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card__img {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .card__content {
    width: 100%;
    height: 80%;
    display: flex;
  }
  .card__content__left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: white;
  }
  .card__content__right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card__img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .card__content {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column-reverse;
  }
  .card__content__left {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card__content__right {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card__img {
    height: 100%;
  }
}
@media (max-width: 767px) {
  .card__content {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column-reverse;
  }
  .card__content__left {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card__content__right {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card__img {
    height: 80%;
  }
}
@media (max-width: 480px) {
  .card__content {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column-reverse;
  }
  .card__content__left {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card__content__right {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card__img {
    height: 50%;
  }
}
@media (max-width: 320px) {
  .card__content {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column-reverse;
  }
  .card__content__left {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card__content__right {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card__img {
    height: 50%;
  }
}/*# sourceMappingURL=BigCard.module.css.map */