.card {
  width: 100%;
  background-color: #2e3856;
  border-radius: 5px;
  margin: 20px 0px;
  padding: 24px 32px;
  position: relative;
}

.index {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 16px;
  color: #646F90;
}

.content {
  height: 288px;
  display: flex;
}

.content__translate {
  width: 70%;
  height: 100%;
  border-right: 2px solid #646f90;
  padding-right: 16px;
}

.translate {
  display: flex;
  justify-content: space-between;
  color: #f6f7fb;
  font-size: 24px;
}

.content__value {
  width: 50%;
  height: 100%;
  padding-left: 16px;
}

.value {
  color: #f6f7fb;
  font-size: 24px;
}

.content__header {
  height: 56px;
  font-size: 18px;
  color: #646f90;
}

.card__img {
  height: 104px;
  border-radius: 10px;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
.buttons button {
  display: flex;
  width: 50%;
  height: 60px;
  border-radius: 5px;
  background-color: #2e3856;
  border: 2px solid #646f90;
  font-size: 20px;
  padding: 16px;
  color: #f6f7fb;
}
.buttons button:hover {
  border: 2px solid #939bb4;
}
.buttons .selected {
  background-color: #282E3E;
  border: 2px solid #4257b2;
}
.buttons .selected:hover {
  border: 2px solid #4257b2;
}

.left__button {
  margin-right: 16px;
}

.right__button {
  margin-left: 16px;
}

.result__buttons {
  display: flex;
  justify-content: space-between;
}
.result__buttons div {
  display: flex;
  width: 50%;
  height: 60px;
  border-radius: 5px;
  background-color: #2e3856;
  border: 1px solid #2d2e31;
  font-size: 20px;
  padding: 16px;
  color: #8d93a5;
}
.result__buttons .correct__answer {
  background-color: #19804f;
  color: #d9dde8;
  border: 2px solid #aae3c8;
}
.result__buttons .incorrect__answer {
  border: 2px solid #c34632;
}

.correct__user__answer__wrapper p {
  color: #8d93a5;
  margin: 24px 0px;
  font-weight: bold;
  font-size: 16px;
}

.correct__user__answer {
  width: 100%;
  height: 60px;
  background-color: #19804f;
  color: #d9dde8;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 2px solid #aae3c8;
}

.text {
  color: #646f90;
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0px;
}

.message__correct__answer {
  color: #19804f;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 700;
}

.message__incorrect__answer {
  color: #c34632;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 460px) {
  .content {
    flex-direction: column;
  }
  .content__value {
    width: 100%;
    height: 40%;
    padding-left: 0px;
  }
  .content__translate {
    width: 100%;
    border-bottom: 2px solid #646f90;
    border-right: none;
  }
  .content__header {
    margin-top: 10px;
  }
  .footer {
    margin-top: 40px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    height: 144px;
  }
  .buttons button {
    width: 100%;
    margin-top: 10px;
  }
  .right__button {
    margin-left: 0px;
  }
}/*# sourceMappingURL=CardTrueFalse.module.css.map */