.container {
  display: flex;
  background-color: #2e3856;
  margin: 0.571rem 0rem;
  padding: 1.142rem 1.714rem;
  border-radius: 0.357rem;
  color: #e9ebfb;
  font-size: 1.142rem;
  font-weight: 500;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.value {
  min-width: 25%;
  height: 100%;
  border-right: 2px #4b577d solid;
  margin-right: 1.714rem;
  font-weight: bold;
}

.translate__wrapper {}

.image {
  margin-top: 1rem;
  width: 8.571rem;
  height: 7.142rem;
  object-fit: cover;
}

@media (max-width: 620px) {
  .content {
    flex-direction: column;
    font-size: 1.571rem;
  }

  .value {
    border-right: none;
    margin-bottom: 1.428rem;
  }
}