.container {
  display: flex;
  background-color: #2e3856;
  margin: 0.571rem 0rem;
  padding: 1.142rem 1.714rem;
  border-radius: 0.357rem;
  color: #e9ebfb;
  font-size: 1.142rem;
  font-weight: 500;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.value__wrapper {
  min-width: 25%;
  height: 100%;
  font-weight: bold;
  padding-top: 0.357rem;
  height: 2.285rem;
}

.translate__wrapper {
  padding-top: 0.357rem;
  border-left: 2px #4b577d solid;
  padding-left: 1.714rem;
}

.image {
  margin-top: 1rem;
  width: 8.571rem;
  height: 7.142rem;
  object-fit: cover;
}

.sound__action {
  display: flex;
  align-items: center;
}

@media (max-width: 620px) {
  .content {
    flex-direction: column;
    font-size: 1.571rem;
  }

  .translate__wrapper {
    border-left: none;
    padding-left: 0rem;
  }

  .value {
    margin-bottom: 1.428rem;
  }
}