.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container__navbar {
  position: fixed;
  width: 100%;
}

.container__form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 50px;
}

.img {
  width: 20%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 32px;
  margin-top: 15%;
  margin-bottom: 20px;
  color: #8c8d8a;
}

.input__container {
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 75%;
  height: 40px;
  background-color: #f2f2f2;
  margin-bottom: 10px;
  color: #b2b2b0;
  padding: 0px 10px;
  border-radius: 5px;
}

.error {
  color: red;
  width: 75%;
}

.button {
  width: 75%;
  height: 40px;
  margin-bottom: 20px;
  background-color: #3a7fc3;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
}

.form {
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
}

@media (min-width: 1200px) {
  .form {
    width: 537px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .form {
    width: 537px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .form {
    width: 537px;
  }
}

@media (max-width: 767px) {
  .form {
    width: 436px;
  }
}

@media (max-width: 480px) {
  .form {
    width: 336px;
  }
}

@media (max-width: 320px) {
  .form {
    width: 224px;
  }
}