.container {
  width: 100%;
  max-width: 814px;
  min-height: 94vh;
  margin: 0 auto;
  padding: 0px 20px 20px;
}

.title {
  font-size: 32px;
  color: #f6f7fb;
  margin: 30px 0px 20px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 814px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 814px;
  }

  .header {
    display: flex;
    flex-wrap: wrap-reverse;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    margin-top: 6vh;
  }

  .header {
    display: flex;
    flex-wrap: wrap-reverse;
  }
}

@media (max-width: 767px) {
  .container {
    margin-top: 6vh;
  }

  .header {
    display: flex;
    flex-wrap: wrap-reverse;
  }
}

@media (max-width: 480px) {
  .container {
    margin-top: 6vh;
  }

  .header {
    display: flex;
    flex-wrap: wrap-reverse;
  }
}

@media (max-width: 320px) {
  .container {
    margin-top: 6vh;
  }
}