.title {
  font-size: 32px;
  color: #f6f7fb;
  margin: 30px 0px 20px;
}

.cards__items__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  position: relative;
}

.button__card__item {
  background-color: #0A092D;
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.button__card__item:hover{
  color: yellow
}

.link__screen__cards {
  position: absolute;
  right: 0;
  
}

.counter__cards {
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin: 0px 40px;
}

.UI__single__row {
  font-size: 20px;
  margin: 20px 0px;
}

.count__words {
  font-size: 28px;
  color: #f6f7fb;
  margin: 30px 0px;
}

.login {
  margin-top: 10px;
}

.page__information__buttons {
  display: flex;
  flex-direction: row;
}

.page__information__button {
  border-radius: 100%;
  border: 1px solid white;
  font-size: 12px;
  margin-right: 10px;
  color: white;
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1200px) {
  .container {
    max-width: 900px;
    width: 80%;
    min-height: 94vh;
    margin: 0 auto;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-direction: row;
    border-bottom: 2px solid black;
    padding-bottom: 30px;
  }

  .page__information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
  }

  .user__info {
    color: #f6f7fb;
    font-size: 18px;
  }

  .card__item__container {
    width: 75%;
  }

  .UI__rows {
    width: 25%;
    color: white;
  }

  .card__item {
    background-color: #2e3856;
    width: 100%;
    height: 50vh;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 80%;
    min-height: 94vh;
    margin: 0 auto;
  }

  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 30px;
  }

  .page__information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
  }

  .user__info {
    color: #f6f7fb;
    font-size: 18px;
  }

  .UI__rows {
    width: 25%;
    color: white;
  }

  .card__item__container {
    width: 75%;
  }

  .card__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #2e3856;
    height: 50vh;
    border-radius: 15px;
    font-size: 30px;
    color: white;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 80%;
    min-height: 94vh;
    margin: 0 auto;
    margin-top: 6vh;
  }

  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    border-bottom: 2px solid black;
    padding-bottom: 30px;
  }

  .page__information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
  }

  .user__info {
    color: #f6f7fb;
    font-size: 18px;
  }

  .UI__rows {
    color: white;
    display: flex;
    flex-direction: row;
  }

  .card__item__container {
    width: 100%;
  }

  .card__item {
    background-color: #2e3856;
    width: 100%;
    height: 30vh;
    margin-bottom: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
  }
}

@media (max-width: 767px) {
  .container {
    width: 80%;
    min-height: 94vh;
    margin: 0 auto;
    margin-top: 6vh;
  }

  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    border-bottom: 2px solid black;
    padding-bottom: 30px;
  }

  .page__information {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 30px 0px;
  }

  .user__info {
    color: #f6f7fb;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .UI__rows {
    color: white;
    display: flex;
    flex-direction: row;
  }

  .card__item__container {
    width: 100%;
  }

  .card__item {
    background-color: #2e3856;
    width: 100%;
    height: 40vh;
    margin-bottom: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
  }
}

@media (max-width: 480px) {
  .container {
    width: 80%;
    min-height: 94vh;
    margin: 0 auto;
    margin-top: 6vh;
  }

  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    border-bottom: 2px solid black;
    padding-bottom: 30px;
  }

  .page__information {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 30px 0px;
  }

  .user__info {
    color: #f6f7fb;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .UI__rows {
    color: white;
    display: flex;
    flex-direction: row;
  }

  .card__item__container {
    width: 100%;
  }

  .card__item {
    background-color: #2e3856;
    width: 100%;
    height: 30vh;
    margin-bottom: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
  }
}

@media (max-width: 320px) {
  .container {
    width: 80%;
    min-height: 94vh;
    margin: 0 auto;
    margin-top: 6vh;
  }

  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    border-bottom: 2px solid black;
    padding-bottom: 30px;
  }

  .page__information {
    display: flex;
    align-items: start;
    flex-direction: column;
  }

  .user__info {
    color: #f6f7fb;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .page__information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 30px 0px;
  }

  .UI__rows {
    color: white;
    display: flex;
    flex-direction: row;
  }

  .card__item__container {
    width: 100%;
  }

  .card__item {
    background-color: #2e3856;
    width: 100%;
    height: 30vh;
    margin-bottom: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
  }
}