.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #0a092d;
}

.container__navbar {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.content {
  min-height: 94vh;
  margin-top: 6vh;
  padding: 40px 0px;
  background-color: #0a092d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter__inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.filter {
  position: relative;
}

.select__filter {
  width: min-content;
  padding: 5px 16px;
  color: #F6F8FB;
  font-size: 18px;
  background-color: #0a092d;
  border: 2px solid #F6F8FB;
  border-radius: 10px;
  user-select: none;

  &:hover {
    background-color: #282e3e;
    cursor: pointer;
  }
}

.options {
  position: absolute;
  top: 40px;
  left: 0;
  width: 200px;
  padding: 10px 0px;
  font-size: 16px;
  background-color: #0a092d;
  border: 1px solid #282e3e;
  border-radius: 10px;
  box-shadow: #111033 0px 54px 55px,
      #111033 0px -12px 30px,
      #111033 0px 4px 6px,
      #111033 0px 12px 13px,
      #111033 0px -3px 5px;
  z-index: 2;
}

.option {
  padding: 8px 24px;
  color: #939bb4;

  &:hover {
    background-color: #282e3e;
    color: #edeff4;
    cursor: pointer;
  }
}

.input {
  width: 50%;
  max-width: 300px;
  height: 30px;
  background-color: #0a092d;
  border-bottom: 2px solid #1F2B43;
  color: #F6F8FB;
  padding: 0px 8px;
  font-size: 16px;
  border-radius: 0px;
}

.input::placeholder {
  color: #d9dde8;
}

@media (min-width: 1200px) {
  .content {
    width: 1200px;
  }
}

@media (max-width: 1199px) {
  .content {
    width: 100%;
  }
}