.card__item__container {
  width: 100%;
  margin-bottom: 30px;
}

.wrapper__card {
  width: 100%;
  height: 428px;
  position: relative;
}
.wrapper__card:hover {
  cursor: pointer;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  perspective: transform(100%);
}

.card__front,
.card__back {
  width: 100%;
  height: 100%;
  background-color: #182A30;
  border-radius: 15px;
  font-size: 30px;
  color: white;
  position: absolute;
  transition: 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  padding: 24px 32px;
}

.card__back {
  transform: rotateX(180deg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.card__back__content {
  height: 100%;
  width: 100%;
}
.card__back__content div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
}
.card__back__content div img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 0px;
}

.card__header {
  display: flex;
  justify-content: space-between;
  height: 10%;
  width: 100%;
}

.card__header__column_1 {
  font-size: 16px;
  color: #636f8f;
}

.card__header__column_2 {
  font-size: 18px;
  color: #d9dde8;
  font-weight: 700;
}

.card__header__column_3 {
  display: flex;
  align-items: flex-start;
  font-size: 20px;
}

.card__edit {
  margin-right: 20px;
}

.card__front__content {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__back__content {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__footer {
  height: 15%;
  width: 100%;
  display: flex;
}

.card__footer__left,
.card__footer__right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #646f90;
  border-radius: 10px;
}
.card__footer__left:hover,
.card__footer__right:hover {
  border: 2px solid #939bb4;
}

.card__footer__left {
  margin-right: 12px;
}

.card__footer__right {
  margin-left: 12px;
}

.disabled {
  border: 2px solid #2b334a;
}
.disabled:hover {
  border: 2px solid #2b334a;
  cursor: default;
}

.card__click .card__front {
  transform: rotateX(180deg);
}
.card__click .card__back {
  transform: rotateX(360deg);
}

.card__img {
  width: 75%;
}

.button__card__item {
  background-color: #0A092D;
  color: white;
  font-size: 28px;
  font-weight: bold;
  margin: 20px 0px;
}
.button__card__item:hover {
  color: yellow;
}

.counter__cards {
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin: 0px 40px;
}

.cards__items__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
  display: flex;
  justify-content: right;
  text-align: right;
}

.link__screen__cards {
  right: 0;
  padding: 10px;
  border-radius: 100%;
  font-size: 20px;
}
.link__screen__cards:hover {
  background-color: #2e3856;
}

.line {
  width: 100%;
  height: 0.5px;
  background-color: #282e3e;
}

@media (min-width: 1200px) {
  .front, .back {
    height: 50vh;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .front, .back {
    height: 50vh;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .front, .back {
    height: 30vh;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .wrapper__card {
    width: 100%;
    height: 340px;
    position: relative;
  }
  .wrapper__card:hover {
    cursor: pointer;
  }
  .front, .back {
    height: 40vh;
    margin-bottom: 20px;
  }
  .card__back {
    flex-direction: column;
  }
  .card__back div {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card__back div .card__content__front {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card__img {
    height: 80%;
    width: 50%;
  }
}/*# sourceMappingURL=CardItemInner.module.css.map */