.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  .row__links {
    width: 50%;
    display: flex;
    flex-direction: row;
  }

  .link {
    width: 100%;
    height: 52px;
    padding: 8px 12px;
    border-radius: 10px;
    background-color: #182A30;
    margin-right: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;

    div {
      color: #F6F7FB;
      font-size: 16px;
      display: flex;
      align-items: center;

      span {
        color: rgb(255, 0, 136);
        font-size: 32px;
        margin-right: 10px;
      }
    }

    &:hover {
      border-bottom: 5px solid #a8b1ff;
      padding-bottom: 3px;
    }
  }

  .last__link {
    margin-right: 0px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-self: auto;

    .row__links {
      width: 100%;
    }

    .row__links:first-child {
      width: 100%;
      margin-bottom: 10px;
    }

    .link {
      width: 50%;
      margin-right: 10px;
    }

    .link:nth-child(even) {
      width: 50%;
      margin-right: 0px;
    }
  }
}

@media (max-width: 460px) {
.container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-self: auto;

    .row__links {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .row__links:first-child {
      width: 100%;
      margin-bottom: 0px;
    }

    .link {
      width: 100%;
      margin-bottom: 10px;
    }    

    .link:nth-child(even){
      width: 100%;
    }
  }
}