.container {
  min-height: 94vh;
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.content {
  min-height: 100%;
  padding-bottom: 15vh;
}

.header__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  div {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
  }

  label {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}

.container__permissions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.permissions {
  display: flex;
  justify-content: center;

  .permission {
    display: flex;
    flex-direction: column;
    margin-right: 30px;

    span {
      color: #f6f7fb;
      font-size: 16px;
    }

    div {
      display: flex;
      justify-content: right;
    }

    button {
      background-color: #0A092D;
      color: #A8B1FF;
      font-size: 18px;
      display: flex;
      justify-content: right;

      &:hover {
        color: #4255ff
      }
    }
  }
}

.wrapper {
  button {
    background-color: aqua;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    color: black;
    font-size: 20px;

    &:hover {
      background-color: rgb(154, 237, 237);
    }
  }
}

.button__create__module {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-top: 20px;

  button {
    background-color: #4255ff;
    padding: 20px 35px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 18px;

    &:hover {
      background-color: #4d5dee;
    }
  }
}

.text__input {
  width: 50%;
  margin: 10px 0px;
  background-color: #0A092D;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  font-size: 18px;
  color: white;

  &:focus {
    border-bottom: 3px solid yellow;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 0px 20px;
  }
}

@media (max-width: 991px) {
  .container {
    width: 100%;
    padding: 0px 20px;
  }

  .text__input {
    width: 100%;
  }
}