.card {
  width: 100%;
  background-color: #2e3856;
  padding: 24px 32px;
  border-radius: 5px;
  margin: 30px 0px;
}

.header {
  width: 100%;
  height: 32px;
  margin-bottom: 24px;
  color: #646F90;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  width: 100%;
  height: 104px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.value {
  color: #F6F7FB;
  font-size: 20px;
}

.text {
  color: #646F90;
  font-size: 18px;
  margin-bottom: 20px;
}

.img {
  height: 104px;
  border-radius: 10px;
  width: auto;
  object-fit: cover;
}

.user__input {
  width: 100%;
  height: 48px;
  background-color: #0A092D;
  color: #d9dde8;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
}

.user__input::placeholder {
  color: #d9dde8;
}

.user__input:focus {
  border-bottom: 3px solid #d9dde8;
  padding-bottom: 3px;
}

.next__button__wrapper {
  display: flex;
  justify-content: right;
  margin-top: 32px;
}

button {
  background-color: #4255FF;
  color: #FFFFFF;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
}

.correct__user__answer__wrapper {
  p {
    color: #19804f;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 16px;
  }
}

.correct__user__answer {
  width: 100%;
  height: 60px;
  background-color: #19804f;
  color: #d9dde8;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 2px solid #aae3c8;
}

.incorrect__user__answer__wrapper {
  p {
    color: #c34632;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 16px;
  }

  margin-bottom: 32px;
}

.incorrect__user__answer {
  width: 100%;
  height: 60px;
  background-color: #2e3856;
  color: #d9dde8;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 2px solid #c34632;
}