.container__navbar {
  background-color: #0a092d;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #ffffff;
  padding: 0px 20px;
  border-bottom: 3px solid #fc318ff5;
}

.content {
  display: flex;
  height: 100%;
}

.login {
  margin-right: 10px;
}

.logout {
  background-color: #0a092d;
}

.button__main__wrapper {
  display: flex;
  align-items: center;
}

.button__main {
  color: #ffffff;
}

.your__library {
  display: flex;
  align-items: center;
  margin: 0px 20px;
  position: relative;
  height: 6vh;

  &:hover {
    border-bottom: 3px solid #a8b1ff;
    padding-top: 3px;
  }

  button {
    background-color: #0A092D;
    color: #ffffff;
  }
}

.modules__lists__wrapper {
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 2;
}

.create__button__wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.create__button {
  background-color: #4255ff;
  color: #ffffff;
  border-radius: 5px;
  padding: 6px 12px;

  &:hover {
    background-color: #423ed8;
  }
}