.container__navbar {
  background-color: #3a7fc3;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
}

.content {
  max-width: 1200px;
  width: 1200px;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  color: #ffffff;
}