.container__navbar {
  background-color: #0a092d;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #ffffff;
  padding: 0px 20px;
  border-bottom: 1px solid rgb(78, 76, 76);
}

.login {
  margin-right: 10px;
}

.logout {
  background-color: #0a092d;
}

.button {
  color: #ffffff;
}

.create__button {
  background-color: #4255ff;
  color: #ffffff;
  padding: 6px 12px;
  border-radius: 5px;
  margin-left: 20px;

  &:hover {
    background-color: #423ed8;
  }
}