.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 30px;
  width: 90%;
}

.column {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 68px;
  background-color: #1A4C98;
  border-radius: 5px;

  span {
    color: #F6F7FB;
    font-size: 24px;
    font-weight: bold;
  }
}

@media (max-width: 560px) {
  .item {
    span {
      font-size: 16px;
    }
  }
}